{% extends 'base.html' %}

{% block content %}
    <h1>Painel de Administração</h1>
    
    <h2>Usuários</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome de Usuário</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Tickets de Suporte</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Data de Postagem</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.title }}</td>
                    <td>{{ ticket.author.username }}</td>
                    <td>{{ ticket.date_posted.strftime('%d-%m-%Y') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
